name: Megalean Daily Check

on:
  schedule:
    # 09:00 UTC זה 11:00 שעון ישראל (או 12:00 בשעון קיץ)
    - cron: '0 9 * * *'
  workflow_dispatch: # מאפשר לך להריץ את הבדיקה גם ידנית בלחיצת כפתור

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Bot
        run: python bot.py
